.main{
    background-image: url(../images/main-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 96rem;
    @include mediaQuery(phone){
        background: $color-dark;
        height: 50rem;
    }
    @include customMediaQuery(768px,1024px){
        background-position: 76%, 50%;
    }
}


.section{
    &__line{
        width: 8rem;
        height: 0.8rem;
        background-color: $color-red;
        @include mediaQuery(phone){
            margin: 0 auto;
        }
    }
    &__title{
        font-size: 3.3rem;
        font-weight: 800;
        margin: 2rem 0;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    &__desc{
        margin-bottom: 2rem;
        color: $color-desc;
    }
}


.slider{
    height: 80rem;
    @include mediaQuery(phone){
        text-align: center;
        height: 40rem;
    }
    @include flex(center, unset);
    &__line{
        height: 1rem;
        width: 8rem;
        background-color: $color-red;
        @include mediaQuery(phone){
            margin: 0 auto;
        }
    }
    &__title{
        color: $color-light;
        font-weight: 700;
        font-size: 8rem;
        @include mediaQuery(phone){
            font-size: 5rem;
        }
        @include customMediaQuery(768px,1024px){
           font-size: 5rem;
        }
    }
    &__subtitle{
        color: $color-light;
        font-size: 5rem;
        margin: 0.3rem 0 3rem;
        @include mediaQuery(phone){
            font-size: 3rem;
        }
        @include customMediaQuery(768px,1024px){
            font-size: 3rem;
         }
    }
}

.about{
    padding: 8rem 0;
    @include mediaQuery(phone){
        text-align: center;
        padding-top: 0;
    }
    &__info{
        padding-left: 2rem;
    }

}


.services{
    background-color: $color-dark;
    padding: 8rem 0;
    @include mediaQuery(phone){
        text-align: center;
    }
    .section__title{
        color: $color-light;
    }

    &__card{
        @include flex(flex-start, space-between);
        margin-bottom: 4rem;
        @include mediaQuery(phone){
            flex-direction: column;
            align-items: center;
        }
        &-image{
            max-width: 80px;
        }
        &-info{
            margin-left: 2rem;
            @include mediaQuery(phone){
                margin-top: 2rem;
            }
        }
        &-title{
            font-size: 1.9rem;
            color: $color-light;
            font-weight: 600;
            margin-bottom: 1.3rem;
        }
        &-desc{
            color: rgba($color-light, .8);
            font-size: 1.6rem;
        }
    }
}

.project{
    padding: 8rem 0;
    background-image: url(/assets/images/project-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__filter{
        margin-bottom: 3rem;
        &-item{
            background-color: transparent;
            border: 0;
            color: $color-dark;
            font-weight: 600;
            font-size: 1.8rem;
            padding: 0.7rem 2rem;
            margin: 0 1rem;
            transition: all .3s;
            &:hover{
                background-color: $color-red;
                color: $color-light;
            }
            &.active{
                background-color: $color-red;
                color: $color-light;
            }
        }
    }
    &__card{
        &-item{
            position: relative;
            width: 30%;
            overflow: hidden;
            margin: 1rem;
            @include mediaQuery(phone){
                width: 100%;
                margin: 1rem 0;
                padding: 0 2rem;
            }
            &:hover .project__card-info{
                height: 100%;
                opacity: 1;
            }
        }
        &-photo{
            // width: 100%;
        }
        &-info{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: rgba($color-dark, .8);
            @include flex(flex-start, flex-end);
            flex-direction: column;
            padding: 0rem 3rem 5rem;
            opacity: 0;
            transition: all .5s;
        }
        &-subtitle{
            color: rgba($color-light, .7);
            font-size: 1.6rem;
        }
        &-title{
            color: $color-light;
            font-size: 2rem;
            font-weight: 600;
            margin: 0.5rem 0 2rem;
        }
        &-btn{
            display: inline-block;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background: $color-red;
            @include flex(center,center);
            i{
                color: $color-light;
                font-size: 2.5rem;
            }
        }
    }
}

.team{
    padding: 8rem 0;
    background: $color-dark;
    @include mediaQuery(phone){
        text-align: center;
    }
    .section__title{
        color: $color-light;
    }

    &__card{
        position: relative;
        overflow: hidden;
        @include mediaQuery(phone){
            padding: 0 3rem;
        }
        &:hover &-social{
            right: 0;
        }
        &-photo{
            overflow: hidden;
            img{
                transition: all .4s;
            }
            &:hover img{
                transform: scale(1.05);
            }
        }
        &-info{
            text-align: center;
            padding: 1rem 0;
        }
        &-title{
            color: $color-light;
            font-weight: 600;
            font-size: 1.8rem;
        }
        &-subtitle{
            color: rgba($color-light, .7);
            text-transform: uppercase;
            margin-top: 1rem;
        }
        &-social{
            position: absolute;
            top: 0;
            right: -10rem;
            height: 40%;
            width: 5rem;
            background-color: $color-red;
            text-align: center;
            padding: 3rem 0;
            border-bottom-right-radius: 5rem;
            transition: all .4s;
            &-item{
                display: block;
                margin: 1rem 0;
                i{
                    color: $color-light;
                    font-size: 1.8rem;
                }
            }

        }
    }

    &__swiper{
        &-pagination{
            bottom: -3rem !important;
            .swiper-pagination-bullet{
                background-color: $color-red;
                width: 3rem;
                height: 0.7rem;
                border-radius: 0;
                &:not(.swiper-pagination-bullet-active-main){
                    background-color: $color-light;
                }
            }
        }
    }
}

.blog{
    padding: 8rem 0;
    &__swiper{
        padding: 3rem 0;
        &-pagination{
            bottom: -3rem !important;
            .swiper-pagination-bullet{
                background-color: $color-red;
                width: 3rem;
                height: 0.7rem;
                border-radius: 0;
            }
        }
    }
    &__card{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @include mediaQuery(phone){
            padding: 0 2rem;
            text-align: center;
        }
        &-photo{
            position: relative;
        }
        &-meta{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: $color-red;
            @include flex(center,center);
            padding: 1rem 0;
            li{
                color: $color-light;
                font-size: 1.4rem;
                font-weight: 600;
                &:not(:last-child)::after{
                    content: "/";
                    margin: 0 1rem;
                }
            }
        }
        &-info{
            padding: 2rem 2rem;
        }
        &-title{
            font-weight: 600;
            font-size: 1.7rem;
            transition: all .3s;
            &:hover{
                color: $color-red;
            }
        }
        &-desc{
            margin: 1rem 0 2rem;
            font-size: 1.5rem;
        }
        .button{
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            font-size: 1.4rem;
        }
    }
}